
github "ishkawa/APIKit" "si-swift3"
github "ikesyo/Himotoki" "swift3"
github "sora0077/Timepiece" "master"
github "ReactiveX/RxSwift" "swift-3.0"
github "realm/realm-cocoa" "master"

github "drmohundro/SWXMLHash" "xcode-8.0"

github "SnapKit/SnapKit" "feature/0.40.0"

github "pinterest/PINRemoteImage"
